<p id="notice"><%= notice %></p>
<div class="vacation">

<!--Want to add in webkit fonts to make it look better and CSS to style images to look like polaroids -->

<h1><%= @vacation.user.name %>'s Vacation to <span class="whitebold"><%= @vacation.destination %></span></h1>
<hr />
<%= image_tag(@vacation.image) if @vacation.image? %>
<div id="vacationdesc">
<h2>Here's What I Did:</h2>
<p><%= @vacation.description %></p>
  <h2>The Highlights:</h2>
  <% @vacation.highlights.each do |x| %>
   
    <h3><%= x.title %></h3>
    <p><%= x.description %></p>
   
  <% end %>
</div>


<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>

</div>

<div class="clear"></div>