<p id="notice"><%= notice %></p>
<!--Want to add in webkit fonts to make it look better and CSS to style images to look like polaroids -->
<p>
  <b>Destination:</b>
  <%= @vacation.destination %>
</p>

<p>
  <b>Description:</b>
  <%= @vacation.description %>
</p>

<p>
  <b>User:</b>
  <%= @vacation.user_id %>
</p>

<p>
  <b>Highlights</b><br />
  <% @vacation.highlights.each do |x| %>
    <strong><%= x.title %></strong><br />
    <%= x.description %><br />
  <% end %>
</p>


<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
