<div class="paddedcontent">
<h1><%= @hotelname %></h1>
<%= image_tag "#{@image1}" %>


<br />
<form method="get" action="/<%= @hotelnumber %>/payment">

<div id="bookingresults">



<div class="row-fluid">
	<h3>Select the Number of Guests Before Proceeding: <label for="guests"></label></h3>
	<select name="guests" id="guests" class="span1">
	  <option value="1">1</option>
	  <option value="2">2</option>	
	  <option value="3">3</option>	
	  <option value="4">4</option>	
	  <option value="5">5</option>	
	  <option value="6">6</option>	
		
	</select>
</div>

<br />

<div class="row-fluid">
  <div class="span3" id="toprow"><b>Room Type</b></div>

<% @bookingdetails['result']['availableDates'].each do |room| %>
  <div class="span2" id="toprow"><b><% z = Date.parse room %><%= z.month %>/<%= z.day%>/<%= z.year %></b></div>
<% end %>
</div>
	
<% @bookingdetails['result']['roomTypes'].each do |room| %>
  <div class="row-fluid" id="cells"><div class="span3"><h5><%= room['description'] %></h5></div>
    

    <% room['availability'].each do |x| %>
      <div class="span2">
      <!-- # of Beds: --> <%= x.last.first['beds'] %> | 
      <!--Price in USD: --> <% @price = x.last.first['price'] %><%= number_to_currency(@price) %>
      </div>

    <% end %>
  <div class="span2">Total Cost (per person): <% @totalcost = number_to_currency(@price.to_f * @bookingdetails['result']['availableDates'].length) %><%= @totalcost %></div>
  <div class="span1"><input type="radio" name="roomcode"   value=<%="#{room['code']}" %> /></div>
  </div>



<% end %>
<input id="innerbutton" class="btn-primary" name="hotelbutton" type="submit" value="Book Now!" disabled />
</div>

</form>



<!--Note that I need to edit how the terms and conditions are displayed -->
<!--I'll need to let the user select which room and dates:  Want to return what the user has booked at the bottom using jQuery -->
<%= @bookingdetails['result']['thingsToNote'] %>



</div>