


<% if @response.blank? %>
  <%= render 'pages/new_search' %>

<% else %>

<h2>You searched for <%= params[:location] %>
<h3>There are <%= @response.count %>  places to stay <%= @response.first.city if @response.blank? == false %></h3>

   <p><% @response.each do |hotel| %></p>
   <%= hotel[:name] %>
   <% end %>
<%= @finalresult.body %>
<% end %>


