


<h1>You searched for:  <%= params[:location] %></h1>

<% if @response.nil? %>
  <%= render 'pages/new_search' %>
<% else %>


<h3>There are <%= @response.count %>  places to stay <%= @response.first.city %></h3>

   <p><% @response.each do |hotel| %></p>
   <%= hotel[:name] %>
   <% end %>

<% end %>