<div class="paddedcontent">
<h1>Here are your results for <%= @city %>, <%= @country %></h1>
<br /><br />

<% @searchresults['result']['Properties'][0,10].each do |hotel| %>
<% @hotelnumber = hotel['number'] %>
<h3><%=link_to "#{ raw hotel['name'] }", "/#{@hotelnumber}/results" %></h3>

<br />
<%= image_tag "#{hotel['images'][0]['url']}" %>
<br />
<b>Address:</b> <%= hotel['address1'] %>
<br />
<b>Rating:</b> <%= hotel['avgRating'] %>
<br />
<b>Dorm Price:</b>  
  <% if hotel['bedPrices']['cheapestDorm'].nil? %>
	"N/A"
  <% else %>
    <%= hotel['bedPrices']['cheapestDorm']['USD'] %>
  <% end %>
<br />
<b>Private Price:</b>  
  <% if hotel['bedPrices']['cheapestPrivate'].nil?	%>
	"N/A"
  <% else %>
    <%= hotel['bedPrices']['cheapestPrivate']['USD'] %>
  <% end %>
<br />

<b>Description:</b> <%= hotel['shortDescription'] + "..." %>
<br />
<% end %>



</div>