<div class="paddedcontent">
<div class="resultsheading">
<% if @searchresults['result']['Properties'].blank? %>
  <h1>We're sorry, we couldn't find any properties available in: </h1>
  <h3><%= @city.gsub("+", " ") %>, <%= @country.gsub("+", " ") %> on <%= @date %></h3>
  <h3><%= link_to "Please go back and search again", root_url %></h3>
<!-- Remember to fix this to render a new search form -->
<% else %>


<h1>Here are your results for <%= @city %>, <%= @country %></h1>
<br />
<h3>Sort by:</h3>
<label for="sort"></label>
<select id="sort">
  <option value="Price">Price</option>
  <option value="Rating">Rating</option>
</select>
<hr>
</div>

<% @searchresults['result']['Properties'][0,10].each do |hotel| %>
<% @hotelnumber = hotel['number'] %>
  <div class="row-fluid">
    <div class="span2">
      <%= image_tag "#{hotel['images'][0]['url']}" %>
    </div>	
    <div class="span8"><span class="hotelname"><%=link_to "#{ raw hotel['name'] }", "/#{@hotelnumber}/results" %></title></div>
      <div class="prices">
	    <% if hotel['bedPrices']['cheapestDorm'].blank? %>
		  <%= number_to_currency(hotel['bedPrices']['cheapestPrivate']['USD']) %>
	    <% else %>
	      <%= number_to_currency(hotel['bedPrices']['cheapestDorm']['USD']) %>
	    <% end %>
	  </div>
	  <br />
      <div class="rating">
      <strong>Rating: <%= hotel['avgRating'] %>%</strong>
	  </div>

    <div class="span10">
	  <div class="hoteldetails">
      <strong><%= hotel['address1'] %></strong>
      <br />
      <br />
      <%= hotel['shortDescription'] + "..." %>
      <br />
      </div>
    </div>
  </div>
  <hr>
  <br />
<% end %>

<% end %>
</div>