


<h1>You searched for:  <%= params[:location] %></h1>

<% if @response.nil? %>
  <%= render 'pages/new_search' %>
<% else %>


<h3>There are <%= @response.to_a.count("#{@city}") %>  places to stay <%= "#{@city}" %></h3>




<!-- Here is the loop that produces the results which I will then submit to the API to get further details -->
   <% property = @response['properties']['property'] %>
   <p><% property.each do |i| %></p>
   <%= i['dest'] if i['city'] == @city %>
   <% end %>

<% end %>