<!--Considering a Twitter feed and adding the ability to 'follow' cities / destinations -->

<div class="paddedcontent">
<div id="vacheading">
<% if @user %>
<figure>
<%= image_tag "#{@user.photo.gsub('square', 'large')}" if @user.photo %>
<figcaption><%= link_to @user.name, @user.url %></figcaption>
</figure>
<% end %>
<h1>Here's Where I've Been:</h1>
</div>
<div class="clear"></div>
<hr />
<div id="vacationdesc">
  
	<% @user.vacations.each do |vac| %>
	    <div class="vacbubble">
        <%= image_tag(vac.image) if vac.image? %>
		<h2><%= link_to "#{vac.destination}", vacation_path(vac) %></h2>
		<p><%= vac.description %></p>
		</div>
		<div class="clear"></div>
		<hr />
		<div class="clear"></div>
		<% end %>

<p><%= button_to 'See Where Others Are Going', vacations_path, :method => "get", :class => "btn-success btn-large" %></p>
<p><%= button_to 'Add A New Vacation', new_vacation_path(:user_id => @user.id), :method => "get", :class => "btn-primary btn-large" %></p>

</div>


</div>