<div class="paddedcontent">
<div id="vacheading">
<% if @user %>
<figure>
<%= image_tag "#{@user.photo.gsub('square', 'large')}", :title => "Hello" if @user.photo %>
<figcaption><%= @user.name %></figcaption>
</figure>
<% end %>
<h1>Here's Where I've Been:</h1>
</div>
<div class="clear"></div>
<hr />
<div id="vacationdesc">
  
	<% @user.vacations.each do |vac| %>
	    <div class="vacbubble">
        <%= image_tag(vac.image) if vac.image? %>
		<h2><%= link_to "#{vac.destination}", vacation_path(vac) %></h2>
		<p><%= vac.description %></p>
		</div>
		<hr />
		<div class="clear"></div>
		<% end %>


<p><%= button_to 'Add A New Vacation', new_vacation_path(:user_id => @user.id), :method => "get" %></p>

</div>


</div>