<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hotel.name %>
</p>

<p>
  <b>Country:</b>
  <%= @hotel.country %>
</p>

<p>
  <b>City:</b>
  <%= @hotel.city %>
</p>


<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
