<h1>Listing highlights</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Vacation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @highlights.each do |highlight| %>
  <tr>
    <td><%= highlight.title %></td>
    <td><%= highlight.description %></td>
    <td><%= highlight.vacation_id %></td>
    <td><%= link_to 'Show', highlight %></td>
    <td><%= link_to 'Edit', edit_highlight_path(highlight) %></td>
    <td><%= link_to 'Destroy', highlight, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Highlight', new_highlight_path %>
