  <div class="footer">
	<%= link_to "Blog", "#" %> 
	<%= link_to "Terms of Service", "#" %> 
	<%= link_to "Privacy Policy", "#" %>
	<p>Find us on: <%= link_to "Facebook", "#" %> and <%= link_to "Twitter", "#" %></p>
  </div>
  
  <!-- <div class="footer">
     <div class="row">
       <div class="span6" id="footer">
       <p><h3>About</h3></p>
 	    <p>Traveling on a tight budget shouldn't be painful, annoying, or confusing.  At Point B, we want to help you see the world without breaking the bank.  We'll help you find the perfect accommodations for your trip at the lowest possible price.
 		</p>
 	    <p>
 	    <%= link_to "More About Us", '#' %>
 	    </p>
 	  </div>
       <div class="span6" id="footer">
 	    <p><h3>Contact Us</h3></p>
 	    <p>For inquiries, help, or customer support you can email us at:</p>
 	    <p><strong>help (at) pointb.it</strong></p>
         <p>For more information and to send a message,
         <%= link_to "Visit Our Contact Page", '#' %></p>
       </div>
     </div> -->
