  <div class="footer">
	<%= link_to "Blog", "#" %> 
	<%= link_to "Terms of Service", "#" %> 
	<%= link_to "Privacy Policy", "#" %>
	<p>Find us on: <%= link_to "Facebook", "#" %> and <%= link_to "Twitter", "#" %></p>
  </div>
  
